<% provide(:title, 'Signup') %>
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path %></li>
			<li class="active">Registration</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Registration</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Register a new account</h3>
							<p class="text-center text-muted">Lorem ipsum dolor sit amet, <%= link_to "Login", login_path %> adipisicing elit. Quo nula quibusdam cum doloremque incidunt nemo sunt a tenetr omnis odo. </p>
							<hr>

							<%= form_for(@user) do |f| %>

							   <%= render 'shared/error_messages' %>

								<%= f.label :name %>
								<%= f.text_field :name, class: 'form-control' %>

								<%= f.label :email %>
								<%= f.email_field :email, class: 'form-control' %>

								<%= f.label :password %>
								<%= f.password_field :password, class: 'form-control' %>

								<%= f.label :password_confirmation, "Confirmation" %>
								<%= f.password_field :password_confirmation, class: 'form-control' %>

								<%= f.submit "Create my account", class: "btn btn-primary" %>
							  <% end %>	
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->